# Ignora arquivos de cache do Python
__pycache__/
*.py[cod]
*.pyo

# Ignora ambientes virtuais
venv/
.env/
.venv/

# Ignora arquivos de configuração e variáveis sensíveis
.env

# Ignora diretórios e arquivos gerados por ferramentas
database/Acordaos
.ipynb_checkpoints/
*.log

# Ignora arquivos do sistema
.DS_Store
Thumbs.db
vectordb_backup.dump

Acordaos/